:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.full-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 375px !important;
  position: relative;
  margin-bottom: 40px;

  .card {

    position: relative;


    .card_background {
      display: flex;
      align-items: center;
      position: inherit;

      img {
        width: 275px;
        height: 375px !important;
        object-fit: cover;
        border-radius: 8px;
      }

      .card__content {
        position: absolute;
        left: var(--spacing-l);
        right: var(--spacing-l);
        bottom: 20px;
        padding: var(--spacing-m);
        border-radius: 8px;
        text-align: left;

        p,
        h3 {
          display: none;
        }
      }
    }

    .card_background:hover {
      .card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-dark);
        border-radius: 8px;
        padding: var(--spacing-m);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: all 0.3s ease-in-out;

        p,
        h3 {
          display: block;
          color: var(--text-lighter);
        }
      }
    }
  }
}

.big-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
  width: 908px !important;
  height: 474px !important;
  padding: 72px 58px;

  .big-card-pic {
    align-items: center;
    justify-content: center;
    width: 358px;
    height: 358px;
    
  }
}